src/main/resources/wsdl/Proceso2_1/ServicioReservaVehiculo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                  xmlns:tns="http://mtis.org/ServicioReservaVehiculo/"
                  targetNamespace="http://mtis.org/ServicioReservaVehiculo/">

    <wsdl:types>
        <xs:schema targetNamespace="http://mtis.org/ServicioReservaVehiculo/" elementFormDefault="qualified">
            <xs:element name="BloquearVehiculoRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="WSKey" type="xs:string"/>
                        <xs:element name="idConcesionario" type="xs:int"/>
                        <xs:element name="idModelo" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="BloquearVehiculoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="exito" type="xs:boolean"/>
                        <xs:element name="mensaje" type="xs:string"/>
                        <xs:element name="bloqueado" type="xs:boolean" minOccurs="0"/>
                        <xs:element name="codigoBloqueo" type="xs:string" minOccurs="0"/> 
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="BloquearVehiculoRequestMessage">
        <wsdl:part name="parameters" element="tns:BloquearVehiculoRequest"/>
    </wsdl:message>
    <wsdl:message name="BloquearVehiculoResponseMessage">
        <wsdl:part name="parameters" element="tns:BloquearVehiculoResponse"/>
    </wsdl:message>

    <wsdl:portType name="ServicioReservaVehiculoPortType">
        <wsdl:operation name="BloquearVehiculo">
            <wsdl:input message="tns:BloquearVehiculoRequestMessage"/>
            <wsdl:output message="tns:BloquearVehiculoResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="ServicioReservaVehiculoSoapBinding" type="tns:ServicioReservaVehiculoPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="BloquearVehiculo">
            <soap:operation soapAction="http://mtis.org/ServicioReservaVehiculo/BloquearVehiculo"/>
            <wsdl:input><soap:body use="literal"/></wsdl:input>
            <wsdl:output><soap:body use="literal"/></wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="ServicioReservaVehiculo">
        <wsdl:port name="ServicioReservaVehiculoPort" binding="tns:ServicioReservaVehiculoSoapBinding">
            <soap:address location="http://localhost:8090/mtisp1/services/ServicioReservaVehiculo"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>