server soap/src/main/resources/wsdl/Proceso2_2/ServicioConfiguracionesVehiculo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                  xmlns:tns="http://mtis.org/ServicioConfiguracionesVehiculo/"
                  targetNamespace="http://mtis.org/ServicioConfiguracionesVehiculo/">

    <wsdl:types>
        <xs:schema targetNamespace="http://mtis.org/ServicioConfiguracionesVehiculo/" elementFormDefault="qualified">
            <xs:element name="ValidarConfiguracionRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="WSKey" type="xs:string"/>
                        <xs:element name="idModelo" type="xs:int"/>
                        <xs:element name="configuracion" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="ValidarConfiguracionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="exito" type="xs:boolean"/>
                        <xs:element name="mensaje" type="xs:string"/>
                        <xs:element name="esViable" type="xs:boolean" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="ValidarConfiguracionRequestMessage">
        <wsdl:part name="parameters" element="tns:ValidarConfiguracionRequest"/>
    </wsdl:message>
    <wsdl:message name="ValidarConfiguracionResponseMessage">
        <wsdl:part name="parameters" element="tns:ValidarConfiguracionResponse"/>
    </wsdl:message>

    <wsdl:portType name="ServicioConfiguracionesVehiculoPortType">
        <wsdl:operation name="ValidarConfiguracion">
            <wsdl:input message="tns:ValidarConfiguracionRequestMessage"/>
            <wsdl:output message="tns:ValidarConfiguracionResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="ServicioConfiguracionesVehiculoSoapBinding" type="tns:ServicioConfiguracionesVehiculoPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ValidarConfiguracion">
            <soap:operation soapAction="http://mtis.org/ServicioConfiguracionesVehiculo/ValidarConfiguracion"/>
            <wsdl:input><soap:body use="literal"/></wsdl:input>
            <wsdl:output><soap:body use="literal"/></wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="ServicioConfiguracionesVehiculo">
        <wsdl:port name="ServicioConfiguracionesVehiculoPort" binding="tns:ServicioConfiguracionesVehiculoSoapBinding">
            <soap:address location="http://localhost:8090/mtisp1/services/ServicioConfiguracionesVehiculo"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>