server soap/WebContent/WEB-INF/services/ServicioProcesoPedidoFabricacion/META-INF/ServicioPlanificacionProduccion.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://mtis.org/ServicioPlanificacionProduccion/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://mtis.org/ServicioPlanificacionProduccion/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://mtis.org/ServicioPlanificacionProduccion/">
            <xs:element name="ConsultarCapacidadProduccionRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="WSKey" type="xs:string"/>
                        <xs:element name="idModelo" type="xs:int"/>
                        <xs:element name="configuracion" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="ConsultarCapacidadProduccionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="exito" type="xs:boolean"/>
                        <xs:element name="mensaje" type="xs:string"/>
                        <xs:element minOccurs="0" name="diasEstimados" type="xs:int"/>
                        <xs:element minOccurs="0" name="fechaEntrega" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
  </wsdl:types>
  <wsdl:message name="ConsultarCapacidadProduccionResponseMessage">
    <wsdl:part name="parameters" element="tns:ConsultarCapacidadProduccionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarCapacidadProduccionRequestMessage">
    <wsdl:part name="parameters" element="tns:ConsultarCapacidadProduccionRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ServicioPlanificacionProduccionPortType">
    <wsdl:operation name="ConsultarCapacidadProduccion">
      <wsdl:input message="tns:ConsultarCapacidadProduccionRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:ConsultarCapacidadProduccionResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioPlanificacionProduccionSoapBinding" type="tns:ServicioPlanificacionProduccionPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ConsultarCapacidadProduccion">
      <soap:operation soapAction="http://mtis.org/ServicioPlanificacionProduccion/ConsultarCapacidadProduccion"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioPlanificacionProduccion">
    <wsdl:port name="ServicioPlanificacionProduccionPort" binding="tns:ServicioPlanificacionProduccionSoapBinding">
      <soap:address location="http://localhost:8080/FabricanteDeVehiculos/services/ServicioPlanificacionProduccion"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
