server soap/WebContent/WEB-INF/services/ServicioProcesoSolicitudRepuestos/META-INF/ServicioCatalogoPiezas.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://mtis.org/ServicioCatalogoPiezas/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://mtis.org/ServicioCatalogoPiezas/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://mtis.org/ServicioCatalogoPiezas/">
            <xs:element name="ConsultarPiezaRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="WSKey" type="xs:string"/>
                        <xs:element name="idPieza" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="ConsultarPiezaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="exito" type="xs:boolean"/>
                        <xs:element name="mensaje" type="xs:string"/>
                        <xs:element minOccurs="0" name="nombrePieza" type="xs:string"/>
                        <xs:element minOccurs="0" name="precio" type="xs:double"/>
                        <xs:element minOccurs="0" name="tiempoSuministroDias" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
  </wsdl:types>
  <wsdl:message name="ConsultarPiezaRequestMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPiezaRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarPiezaResponseMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPiezaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ServicioCatalogoPiezasPortType">
    <wsdl:operation name="ConsultarPieza">
      <wsdl:input message="tns:ConsultarPiezaRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:ConsultarPiezaResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioCatalogoPiezasSoapBinding" type="tns:ServicioCatalogoPiezasPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ConsultarPieza">
      <soap:operation soapAction="http://mtis.org/ServicioCatalogoPiezas/ConsultarPieza"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioCatalogoPiezas">
    <wsdl:port name="ServicioCatalogoPiezasPort" binding="tns:ServicioCatalogoPiezasSoapBinding">
      <soap:address location="http://localhost:8080/FabricanteDeVehiculos/services/ServicioCatalogoPiezas"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
