server soap/WebContent/WEB-INF/services/ServicioPedidosRepuestos/META-INF/ServicioStockRepuestos.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://mtis.org/ServicioStockRepuestos/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://mtis.org/ServicioStockRepuestos/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://mtis.org/ServicioStockRepuestos/">
            <xs:element name="ConsultarStockRepuestosRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="WSKey" type="xs:string"/>
                        <xs:element name="idConcesionario" type="xs:int"/>
                        <xs:element name="idPieza" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="ConsultarStockRepuestosResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="exito" type="xs:boolean"/>
                        <xs:element name="mensaje" type="xs:string"/>
                        <xs:element minOccurs="0" name="cantidadDisponible" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
  </wsdl:types>
  <wsdl:message name="ConsultarStockRepuestosRequestMessage">
    <wsdl:part name="parameters" element="tns:ConsultarStockRepuestosRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarStockRepuestosResponseMessage">
    <wsdl:part name="parameters" element="tns:ConsultarStockRepuestosResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ServicioStockRepuestosPortType">
    <wsdl:operation name="ConsultarStockRepuestos">
      <wsdl:input message="tns:ConsultarStockRepuestosRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:ConsultarStockRepuestosResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioStockRepuestosSoapBinding" type="tns:ServicioStockRepuestosPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ConsultarStockRepuestos">
      <soap:operation soapAction="http://mtis.org/ServicioStockRepuestos/ConsultarStockRepuestos"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioStockRepuestos">
    <wsdl:port name="ServicioStockRepuestosPort" binding="tns:ServicioStockRepuestosSoapBinding">
      <soap:address location="http://localhost:8080/FabricanteDeVehiculos/services/ServicioStockRepuestos"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
