server soap/WebContent/WEB-INF/services/ServicioStockRed/META-INF/ServicioProcesoReservaVehiculo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://mtis.org/ServicioProcesoReservaVehiculo/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://mtis.org/ServicioProcesoReservaVehiculo/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://mtis.org/ServicioProcesoReservaVehiculo/">
            
            <xs:element name="ReservarVehiculoRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="WSKey" type="xs:string"/>
                        <xs:element name="idConcesionario" type="xs:int"/>
                        <xs:element name="idModelo" type="xs:int"/>
                        <xs:element name="configuracion" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="ReservarVehiculoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="exito" type="xs:boolean"/>
                        <xs:element name="mensaje" type="xs:string"/>
                        <xs:element minOccurs="0" name="idReserva" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
        </xs:schema>
  </wsdl:types>
  <wsdl:message name="ReservarVehiculoResponseMessage">
    <wsdl:part name="parameters" element="tns:ReservarVehiculoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ReservarVehiculoRequestMessage">
    <wsdl:part name="parameters" element="tns:ReservarVehiculoRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ServicioProcesoReservaVehiculoPortType">
    <wsdl:operation name="ReservarVehiculo">
      <wsdl:input message="tns:ReservarVehiculoRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:ReservarVehiculoResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioProcesoReservaVehiculoSoapBinding" type="tns:ServicioProcesoReservaVehiculoPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ReservarVehiculo">
      <soap:operation soapAction="http://mtis.org/ServicioProcesoReservaVehiculo/ReservarVehiculo"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioProcesoReservaVehiculo">
    <wsdl:port name="ServicioProcesoReservaVehiculoPort" binding="tns:ServicioProcesoReservaVehiculoSoapBinding">
      <soap:address location="http://localhost:8080/FabricanteDeVehiculos/services/ServicioProcesoReservaVehiculo"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
