server soap/WebContent/WEB-INF/services/ServicioStockRed/META-INF/ServicioStockFabricante.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://mtis.org/ServicioStockFabricante/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://mtis.org/ServicioStockFabricante/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://mtis.org/ServicioStockFabricante/">
            <xs:element name="ConsultarStockFabricanteRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="WSKey" type="xs:string"/>
                        <xs:element name="idModelo" type="xs:int"/>
                        <xs:element name="configuracion" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="ConsultarStockFabricanteResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="exito" type="xs:boolean"/>
                        <xs:element name="mensaje" type="xs:string"/>
                        <xs:element minOccurs="0" name="disponible" type="xs:boolean"/>
                        <xs:element minOccurs="0" name="cantidad" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
  </wsdl:types>
  <wsdl:message name="ConsultarStockFabricanteRequestMessage">
    <wsdl:part name="parameters" element="tns:ConsultarStockFabricanteRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarStockFabricanteResponseMessage">
    <wsdl:part name="parameters" element="tns:ConsultarStockFabricanteResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ServicioStockFabricantePortType">
    <wsdl:operation name="ConsultarStockFabricante">
      <wsdl:input message="tns:ConsultarStockFabricanteRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:ConsultarStockFabricanteResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioStockFabricanteSoapBinding" type="tns:ServicioStockFabricantePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ConsultarStockFabricante">
      <soap:operation soapAction="http://mtis.org/ServicioStockFabricante/ConsultarStockFabricante"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioStockFabricante">
    <wsdl:port name="ServicioStockFabricantePort" binding="tns:ServicioStockFabricanteSoapBinding">
      <soap:address location="http://localhost:8090/mtisp1/services/ServicioStockFabricante"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
