server soap/WebContent/WEB-INF/services/ServicioStockRepuestos/META-INF/ServicioProcesoPedidoFabricacion.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://mtis.org/ServicioProcesoPedidoFabricacion/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://mtis.org/ServicioProcesoPedidoFabricacion/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://mtis.org/ServicioProcesoPedidoFabricacion/">
            
            <xs:element name="ProcesarPedidoFabricacionRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="WSKey" type="xs:string"/>
                        <xs:element name="idConcesionario" type="xs:int"/>
                        <xs:element name="idModelo" type="xs:int"/>
                        <xs:element name="configuracion" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="ProcesarPedidoFabricacionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="exito" type="xs:boolean"/>
                        <xs:element name="mensaje" type="xs:string"/>
                        
                        <xs:element minOccurs="0" name="tiempoFabricacionDias" type="xs:int"/>
                        <xs:element minOccurs="0" name="coste" type="xs:double"/>
                        <xs:element minOccurs="0" name="fechaEntregaEstimada" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
        </xs:schema>
  </wsdl:types>
  <wsdl:message name="ProcesarPedidoFabricacionResponseMessage">
    <wsdl:part name="parameters" element="tns:ProcesarPedidoFabricacionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ProcesarPedidoFabricacionRequestMessage">
    <wsdl:part name="parameters" element="tns:ProcesarPedidoFabricacionRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ServicioProcesoPedidoFabricacionPortType">
    <wsdl:operation name="ProcesarPedidoFabricacion">
      <wsdl:input message="tns:ProcesarPedidoFabricacionRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:ProcesarPedidoFabricacionResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioProcesoPedidoFabricacionSoapBinding" type="tns:ServicioProcesoPedidoFabricacionPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ProcesarPedidoFabricacion">
      <soap:operation soapAction="http://mtis.org/ServicioProcesoPedidoFabricacion/ProcesarPedidoFabricacion"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioProcesoPedidoFabricacion">
    <wsdl:port name="ServicioProcesoPedidoFabricacionPort" binding="tns:ServicioProcesoPedidoFabricacionSoapBinding">
      <soap:address location="http://localhost:8080/FabricanteDeVehiculos/services/ServicioProcesoPedidoFabricacion"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
