server soap/WebContent/WEB-INF/services/ServicioCalculoCostes/META-INF/ServicioConfiguracionesVehiculo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://mtis.org/ServicioConfiguracionesVehiculo/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://mtis.org/ServicioConfiguracionesVehiculo/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://mtis.org/ServicioConfiguracionesVehiculo/">
            <xs:element name="ValidarConfiguracionRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="WSKey" type="xs:string"/>
                        <xs:element name="idModelo" type="xs:int"/>
                        <xs:element name="configuracion" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="ValidarConfiguracionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="exito" type="xs:boolean"/>
                        <xs:element name="mensaje" type="xs:string"/>
                        <xs:element minOccurs="0" name="esViable" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
  </wsdl:types>
  <wsdl:message name="ValidarConfiguracionRequestMessage">
    <wsdl:part name="parameters" element="tns:ValidarConfiguracionRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ValidarConfiguracionResponseMessage">
    <wsdl:part name="parameters" element="tns:ValidarConfiguracionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ServicioConfiguracionesVehiculoPortType">
    <wsdl:operation name="ValidarConfiguracion">
      <wsdl:input message="tns:ValidarConfiguracionRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:ValidarConfiguracionResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioConfiguracionesVehiculoSoapBinding" type="tns:ServicioConfiguracionesVehiculoPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ValidarConfiguracion">
      <soap:operation soapAction="http://mtis.org/ServicioConfiguracionesVehiculo/ValidarConfiguracion"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioConfiguracionesVehiculo">
    <wsdl:port name="ServicioConfiguracionesVehiculoPort" binding="tns:ServicioConfiguracionesVehiculoSoapBinding">
      <soap:address location="http://localhost:8080/FabricanteDeVehiculos/ServicioConfiguracionesVehiculo"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
