server soap/WebContent/WEB-INF/services/ServicioNotificacionesEntrega/META-INF/ServicioStockConcesionario.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://mtis.org/ServicioStockConcesionario/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://mtis.org/ServicioStockConcesionario/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://mtis.org/ServicioStockConcesionario/">
            <xs:element name="ConsultarStockConcesionarioRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="WSKey" type="xs:string"/>
                        <xs:element name="idConcesionario" type="xs:int"/>
                        <xs:element name="idModelo" type="xs:int"/>
                        <xs:element name="configuracion" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="ConsultarStockConcesionarioResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="exito" type="xs:boolean"/>
                        <xs:element name="mensaje" type="xs:string"/>
                        <xs:element minOccurs="0" name="disponible" type="xs:boolean"/>
                        <xs:element minOccurs="0" name="cantidad" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
  </wsdl:types>
  <wsdl:message name="ConsultarStockConcesionarioRequestMessage">
    <wsdl:part name="parameters" element="tns:ConsultarStockConcesionarioRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarStockConcesionarioResponseMessage">
    <wsdl:part name="parameters" element="tns:ConsultarStockConcesionarioResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ServicioStockConcesionarioPortType">
    <wsdl:operation name="ConsultarStockConcesionario">
      <wsdl:input message="tns:ConsultarStockConcesionarioRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:ConsultarStockConcesionarioResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioStockConcesionarioSoapBinding" type="tns:ServicioStockConcesionarioPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ConsultarStockConcesionario">
      <soap:operation soapAction="http://mtis.org/ServicioStockConcesionario/ConsultarStockConcesionario"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioStockConcesionario">
    <wsdl:port name="ServicioStockConcesionarioPort" binding="tns:ServicioStockConcesionarioSoapBinding">
      <soap:address location="http://localhost:8080/FabricanteDeVehiculos/services/ServicioStockConcesionario"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
