src/main/resources/wsdl/Proceso2_2/ServicioNotificacionesPedido.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                  xmlns:tns="http://mtis.org/ServicioNotificacionesPedido/"
                  targetNamespace="http://mtis.org/ServicioNotificacionesPedido/">

    <wsdl:types>
        <xs:schema targetNamespace="http://mtis.org/ServicioNotificacionesPedido/" elementFormDefault="qualified">
            <xs:element name="EnviarNotificacionPedidoRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="WSKey" type="xs:string"/>
                        <xs:element name="idConcesionario" type="xs:int"/>
                        <xs:element name="idPedido" type="xs:int" minOccurs="0"/>
                        <xs:element name="mensajeAEnviar" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="EnviarNotificacionPedidoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="exito" type="xs:boolean"/>
                        <xs:element name="mensaje" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="EnviarNotificacionPedidoRequestMessage">
        <wsdl:part name="parameters" element="tns:EnviarNotificacionPedidoRequest"/>
    </wsdl:message>
    <wsdl:message name="EnviarNotificacionPedidoResponseMessage">
        <wsdl:part name="parameters" element="tns:EnviarNotificacionPedidoResponse"/>
    </wsdl:message>

    <wsdl:portType name="ServicioNotificacionesPedidoPortType">
        <wsdl:operation name="EnviarNotificacionPedido">
            <wsdl:input message="tns:EnviarNotificacionPedidoRequestMessage"/>
            <wsdl:output message="tns:EnviarNotificacionPedidoResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="ServicioNotificacionesPedidoSoapBinding" type="tns:ServicioNotificacionesPedidoPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="EnviarNotificacionPedido">
            <soap:operation soapAction="http://mtis.org/ServicioNotificacionesPedido/EnviarNotificacionPedido"/>
            <wsdl:input><soap:body use="literal"/></wsdl:input>
            <wsdl:output><soap:body use="literal"/></wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="ServicioNotificacionesPedido">
        <wsdl:port name="ServicioNotificacionesPedidoPort" binding="tns:ServicioNotificacionesPedidoSoapBinding">
            <soap:address location="http://localhost:8090/mtisp1/services/ServicioNotificacionesPedido"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>