src/main/resources/wsdl/Proceso2_2/ServicioProcesoPedidoFabricacion.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                  xmlns:tns="http://mtis.org/ServicioProcesoPedidoFabricacion/"
                  targetNamespace="http://mtis.org/ServicioProcesoPedidoFabricacion/">

    <wsdl:types>
        <xs:schema targetNamespace="http://mtis.org/ServicioProcesoPedidoFabricacion/" elementFormDefault="qualified">
            
            <xs:element name="ProcesarPedidoFabricacionRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="WSKey" type="xs:string"/>
                        <xs:element name="idConcesionario" type="xs:int"/>
                        <xs:element name="idModelo" type="xs:int"/>
                        <xs:element name="configuracion" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="ProcesarPedidoFabricacionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="exito" type="xs:boolean"/>
                        <xs:element name="mensaje" type="xs:string"/>
                        
                        <xs:element name="tiempoFabricacionDias" type="xs:int" minOccurs="0"/>
                        <xs:element name="coste" type="xs:double" minOccurs="0"/>
                        <xs:element name="fechaEntregaEstimada" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="ProcesarPedidoFabricacionRequestMessage">
        <wsdl:part name="parameters" element="tns:ProcesarPedidoFabricacionRequest"/>
    </wsdl:message>
    <wsdl:message name="ProcesarPedidoFabricacionResponseMessage">
        <wsdl:part name="parameters" element="tns:ProcesarPedidoFabricacionResponse"/>
    </wsdl:message>

    <wsdl:portType name="ServicioProcesoPedidoFabricacionPortType">
        <wsdl:operation name="ProcesarPedidoFabricacion">
            <wsdl:input message="tns:ProcesarPedidoFabricacionRequestMessage"/>
            <wsdl:output message="tns:ProcesarPedidoFabricacionResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="ServicioProcesoPedidoFabricacionSoapBinding" type="tns:ServicioProcesoPedidoFabricacionPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ProcesarPedidoFabricacion">
            <soap:operation soapAction="http://mtis.org/ServicioProcesoPedidoFabricacion/ProcesarPedidoFabricacion"/>
            <wsdl:input><soap:body use="literal"/></wsdl:input>
            <wsdl:output><soap:body use="literal"/></wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="ServicioProcesoPedidoFabricacion">
        <wsdl:port name="ServicioProcesoPedidoFabricacionPort" binding="tns:ServicioProcesoPedidoFabricacionSoapBinding">
            <soap:address location="http://localhost:8090/mtisp1/services/ServicioProcesoPedidoFabricacion"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>