src/main/resources/wsdl/Proceso2_2/ServicioPlanificacionProduccion.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                  xmlns:tns="http://mtis.org/ServicioPlanificacionProduccion/"
                  targetNamespace="http://mtis.org/ServicioPlanificacionProduccion/">

    <wsdl:types>
        <xs:schema targetNamespace="http://mtis.org/ServicioPlanificacionProduccion/" elementFormDefault="qualified">
            <xs:element name="ConsultarCapacidadProduccionRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="WSKey" type="xs:string"/>
                        <xs:element name="idModelo" type="xs:int"/>
                        <xs:element name="configuracion" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="ConsultarCapacidadProduccionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="exito" type="xs:boolean"/>
                        <xs:element name="mensaje" type="xs:string"/>
                        <xs:element name="diasEstimados" type="xs:int" minOccurs="0"/>
                        <xs:element name="fechaEntrega" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="ConsultarCapacidadProduccionRequestMessage">
        <wsdl:part name="parameters" element="tns:ConsultarCapacidadProduccionRequest"/>
    </wsdl:message>
    <wsdl:message name="ConsultarCapacidadProduccionResponseMessage">
        <wsdl:part name="parameters" element="tns:ConsultarCapacidadProduccionResponse"/>
    </wsdl:message>

    <wsdl:portType name="ServicioPlanificacionProduccionPortType">
        <wsdl:operation name="ConsultarCapacidadProduccion">
            <wsdl:input message="tns:ConsultarCapacidadProduccionRequestMessage"/>
            <wsdl:output message="tns:ConsultarCapacidadProduccionResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="ServicioPlanificacionProduccionSoapBinding" type="tns:ServicioPlanificacionProduccionPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ConsultarCapacidadProduccion">
            <soap:operation soapAction="http://mtis.org/ServicioPlanificacionProduccion/ConsultarCapacidadProduccion"/>
            <wsdl:input><soap:body use="literal"/></wsdl:input>
            <wsdl:output><soap:body use="literal"/></wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="ServicioPlanificacionProduccion">
        <wsdl:port name="ServicioPlanificacionProduccionPort" binding="tns:ServicioPlanificacionProduccionSoapBinding">
            <soap:address location="http://localhost:8090/mtisp1/services/ServicioPlanificacionProduccion"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>