fabricante-vehiculos-esb/src/main/resources/wsdl/proceso2_1/ServicioRegistroReservas.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                  xmlns:tns="http://mtis.org/ServicioRegistroReservas/"
                  targetNamespace="http://mtis.org/ServicioRegistroReservas/">

    <wsdl:types>
        <xs:schema targetNamespace="http://mtis.org/ServicioRegistroReservas/" elementFormDefault="qualified">
            <xs:element name="RegistrarReservaRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="WSKey" type="xs:string"/>
                        <xs:element name="idConcesionario" type="xs:int"/>
                        <xs:element name="idModelo" type="xs:int"/>
                        <xs:element name="codigoBloqueo" type="xs:string"/> 
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="RegistrarReservaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="exito" type="xs:boolean"/>
                        <xs:element name="mensaje" type="xs:string"/>
                        <xs:element name="idReserva" type="xs:int" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="RegistrarReservaRequestMessage">
        <wsdl:part name="parameters" element="tns:RegistrarReservaRequest"/>
    </wsdl:message>
    <wsdl:message name="RegistrarReservaResponseMessage">
        <wsdl:part name="parameters" element="tns:RegistrarReservaResponse"/>
    </wsdl:message>

    <wsdl:portType name="ServicioRegistroReservasPortType">
        <wsdl:operation name="RegistrarReserva">
            <wsdl:input message="tns:RegistrarReservaRequestMessage"/>
            <wsdl:output message="tns:RegistrarReservaResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="ServicioRegistroReservasSoapBinding" type="tns:ServicioRegistroReservasPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="RegistrarReserva">
            <soap:operation soapAction="http://mtis.org/ServicioRegistroReservas/RegistrarReserva"/>
            <wsdl:input><soap:body use="literal"/></wsdl:input>
            <wsdl:output><soap:body use="literal"/></wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="ServicioRegistroReservas">
        <wsdl:port name="ServicioRegistroReservasPort" binding="tns:ServicioRegistroReservasSoapBinding">
            <soap:address location="http://localhost:8080/FabricanteDeVehiculos/services/ServicioRegistroReservas"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>