fabricante-vehiculos-esb/src/main/resources/wsdl/proceso2_1/ServicioStockConcesionario.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                  xmlns:tns="http://mtis.org/ServicioStockConcesionario/"
                  targetNamespace="http://mtis.org/ServicioStockConcesionario/">

    <wsdl:types>
        <xs:schema targetNamespace="http://mtis.org/ServicioStockConcesionario/" elementFormDefault="qualified">
            <xs:element name="ConsultarStockConcesionarioRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="WSKey" type="xs:string"/>
                        <xs:element name="idConcesionario" type="xs:int"/>
                        <xs:element name="idModelo" type="xs:int"/>
                        <xs:element name="configuracion" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="ConsultarStockConcesionarioResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="exito" type="xs:boolean"/>
                        <xs:element name="mensaje" type="xs:string"/>
                        <xs:element name="disponible" type="xs:boolean" minOccurs="0"/>
                        <xs:element name="cantidad" type="xs:int" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="ConsultarStockConcesionarioRequestMessage">
        <wsdl:part name="parameters" element="tns:ConsultarStockConcesionarioRequest"/>
    </wsdl:message>
    <wsdl:message name="ConsultarStockConcesionarioResponseMessage">
        <wsdl:part name="parameters" element="tns:ConsultarStockConcesionarioResponse"/>
    </wsdl:message>

    <wsdl:portType name="ServicioStockConcesionarioPortType">
        <wsdl:operation name="ConsultarStockConcesionario">
            <wsdl:input message="tns:ConsultarStockConcesionarioRequestMessage"/>
            <wsdl:output message="tns:ConsultarStockConcesionarioResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="ServicioStockConcesionarioSoapBinding" type="tns:ServicioStockConcesionarioPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ConsultarStockConcesionario">
            <soap:operation soapAction="http://mtis.org/ServicioStockConcesionario/ConsultarStockConcesionario"/>
            <wsdl:input><soap:body use="literal"/></wsdl:input>
            <wsdl:output><soap:body use="literal"/></wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="ServicioStockConcesionario">
        <wsdl:port name="ServicioStockConcesionarioPort" binding="tns:ServicioStockConcesionarioSoapBinding">
            <soap:address location="http://localhost:8080/FabricanteDeVehiculos/services/ServicioStockConcesionario"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>