fabricante-vehiculos-esb/src/main/resources/wsdl/proceso2_1/ServicioStockFabricante.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                  xmlns:tns="http://mtis.org/ServicioStockFabricante/"
                  targetNamespace="http://mtis.org/ServicioStockFabricante/">

    <wsdl:types>
        <xs:schema targetNamespace="http://mtis.org/ServicioStockFabricante/" elementFormDefault="qualified">
            <xs:element name="ConsultarStockFabricanteRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="WSKey" type="xs:string"/>
                        <xs:element name="idModelo" type="xs:int"/>
                        <xs:element name="configuracion" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="ConsultarStockFabricanteResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="exito" type="xs:boolean"/>
                        <xs:element name="mensaje" type="xs:string"/>
                        <xs:element name="disponible" type="xs:boolean" minOccurs="0"/>
                        <xs:element name="cantidad" type="xs:int" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="ConsultarStockFabricanteRequestMessage">
        <wsdl:part name="parameters" element="tns:ConsultarStockFabricanteRequest"/>
    </wsdl:message>
    <wsdl:message name="ConsultarStockFabricanteResponseMessage">
        <wsdl:part name="parameters" element="tns:ConsultarStockFabricanteResponse"/>
    </wsdl:message>

    <wsdl:portType name="ServicioStockFabricantePortType">
        <wsdl:operation name="ConsultarStockFabricante">
            <wsdl:input message="tns:ConsultarStockFabricanteRequestMessage"/>
            <wsdl:output message="tns:ConsultarStockFabricanteResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="ServicioStockFabricanteSoapBinding" type="tns:ServicioStockFabricantePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ConsultarStockFabricante">
            <soap:operation soapAction="http://mtis.org/ServicioStockFabricante/ConsultarStockFabricante"/>
            <wsdl:input><soap:body use="literal"/></wsdl:input>
            <wsdl:output><soap:body use="literal"/></wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="ServicioStockFabricante">
        <wsdl:port name="ServicioStockFabricantePort" binding="tns:ServicioStockFabricanteSoapBinding">
            <soap:address location="http://localhost:8080/FabricanteDeVehiculos/services/ServicioStockFabricante"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>