server soap/resources/ServicioGeneracionOrdenProduccion.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://mtis.org/ServicioGeneracionOrdenProduccion/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://mtis.org/ServicioGeneracionOrdenProduccion/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://mtis.org/ServicioGeneracionOrdenProduccion/">
            <xs:element name="GenerarOrdenProduccionRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="WSKey" type="xs:string"/>
                        <xs:element name="idConcesionario" type="xs:int"/>
                        <xs:element name="idModelo" type="xs:int"/>
                        <xs:element name="configuracion" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="GenerarOrdenProduccionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="exito" type="xs:boolean"/>
                        <xs:element name="mensaje" type="xs:string"/>
                        <xs:element minOccurs="0" name="idOrden" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
  </wsdl:types>
  <wsdl:message name="GenerarOrdenProduccionRequestMessage">
    <wsdl:part name="parameters" element="tns:GenerarOrdenProduccionRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GenerarOrdenProduccionResponseMessage">
    <wsdl:part name="parameters" element="tns:GenerarOrdenProduccionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ServicioGeneracionOrdenProduccionPortType">
    <wsdl:operation name="GenerarOrdenProduccion">
      <wsdl:input message="tns:GenerarOrdenProduccionRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:GenerarOrdenProduccionResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioGeneracionOrdenProduccionSoapBinding" type="tns:ServicioGeneracionOrdenProduccionPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GenerarOrdenProduccion">
      <soap:operation soapAction="http://mtis.org/ServicioGeneracionOrdenProduccion/GenerarOrdenProduccion"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioGeneracionOrdenProduccion">
    <wsdl:port name="ServicioGeneracionOrdenProduccionPort" binding="tns:ServicioGeneracionOrdenProduccionSoapBinding">
      <soap:address location="http://localhost:8080/FabricanteDeVehiculos/services/ServicioGeneracionOrdenProduccion"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
