src/main/resources/wsdl/Proceso2_3/ServicioStockRepuestos.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                  xmlns:tns="http://mtis.org/ServicioStockRepuestos/"
                  targetNamespace="http://mtis.org/ServicioStockRepuestos/">

    <wsdl:types>
        <xs:schema targetNamespace="http://mtis.org/ServicioStockRepuestos/" elementFormDefault="qualified">
            <xs:element name="ConsultarStockRepuestosRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="WSKey" type="xs:string"/>
                        <xs:element name="idConcesionario" type="xs:int"/>
                        <xs:element name="idPieza" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="ConsultarStockRepuestosResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="exito" type="xs:boolean"/>
                        <xs:element name="mensaje" type="xs:string"/>
                        <xs:element name="cantidadDisponible" type="xs:int" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="ConsultarStockRepuestosRequestMessage">
        <wsdl:part name="parameters" element="tns:ConsultarStockRepuestosRequest"/>
    </wsdl:message>
    <wsdl:message name="ConsultarStockRepuestosResponseMessage">
        <wsdl:part name="parameters" element="tns:ConsultarStockRepuestosResponse"/>
    </wsdl:message>

    <wsdl:portType name="ServicioStockRepuestosPortType">
        <wsdl:operation name="ConsultarStockRepuestos">
            <wsdl:input message="tns:ConsultarStockRepuestosRequestMessage"/>
            <wsdl:output message="tns:ConsultarStockRepuestosResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="ServicioStockRepuestosSoapBinding" type="tns:ServicioStockRepuestosPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ConsultarStockRepuestos">
            <soap:operation soapAction="http://mtis.org/ServicioStockRepuestos/ConsultarStockRepuestos"/>
            <wsdl:input><soap:body use="literal"/></wsdl:input>
            <wsdl:output><soap:body use="literal"/></wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="ServicioStockRepuestos">
        <wsdl:port name="ServicioStockRepuestosPort" binding="tns:ServicioStockRepuestosSoapBinding">
            <soap:address location="http://localhost:8090/mtisp1/services/ServicioStockRepuestos"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>