server soap/WebContent/WEB-INF/services/ServicioLogisticaEnvios/META-INF/ServicioNotificaciones.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://mtis.org/ServicioNotificaciones/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://mtis.org/ServicioNotificaciones/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://mtis.org/ServicioNotificaciones/">
            <xs:element name="EnviarConfirmacionRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="WSKey" type="xs:string"/>
                        <xs:element name="idConcesionario" type="xs:int"/>
                        <xs:element name="idReserva" type="xs:int"/>
                        <xs:element name="mensajeAEnviar" type="xs:string"/> 
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="EnviarConfirmacionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="exito" type="xs:boolean"/>
                        <xs:element name="mensaje" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
  </wsdl:types>
  <wsdl:message name="EnviarConfirmacionResponseMessage">
    <wsdl:part name="parameters" element="tns:EnviarConfirmacionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="EnviarConfirmacionRequestMessage">
    <wsdl:part name="parameters" element="tns:EnviarConfirmacionRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ServicioNotificacionesPortType">
    <wsdl:operation name="EnviarConfirmacion">
      <wsdl:input message="tns:EnviarConfirmacionRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:EnviarConfirmacionResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioNotificacionesSoapBinding" type="tns:ServicioNotificacionesPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="EnviarConfirmacion">
      <soap:operation soapAction="http://mtis.org/ServicioNotificaciones/EnviarConfirmacion"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioNotificaciones">
    <wsdl:port name="ServicioNotificacionesPort" binding="tns:ServicioNotificacionesSoapBinding">
      <soap:address location="http://localhost:8080/FabricanteDeVehiculos/services/ServicioNotificaciones"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
